<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My first dynamic Website</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<a class="button" href="https://www.hwr-berlin.de/">HWR Berlin Homepage</a>

<body>

    <nav>
        <div class="heading">
  
          <h4>Navigation Bar</h4>
        </div>
        <ul class="nav-links">
  
          <li><a class="active" href="/">Home</a></li>
  
          <li><a href="https://github.com/Kamilla-23">About</a></li>
  
          <li><a href="/titanic">Titanic</a></li>
        </ul>
      </nav>
        <img src="/static/image.jpg" width="500" height="600" style="float: right;">
    <main>
        <h1>I have been seen {{ count }} times.</h1>
        <ul>
            {% for i in range(1, count+1) %}
            <li>{{ i }}: Hello {{ name }}! </li>
            {% endfor %}
        </ul>
    </main>
</body>
<footer>
    <p>Author: Kamilla Nauruzbayeva</p>
  </footer>
</html>